<article class="_pea-form">
	<div class="_pea-document">
		<div class="_pea-row">
			<div class="_pea-row" id="exportBackupSelection">
<!-- 				<div>
					<p>Export your database.</p>
				</div> -->
				<div class="_pea-col-span12">
					<form class="_pea-form " method="post" action="/p-admin/backup/downloadbackup" >
						<h3>Download Export Backup</h3>
						<div class="_pea-row _pea-container-forminput">
							<div class="_pea-col-span10">
								<p>Download a back up of your entire periodic instance, this downloads a zip archieve of your content, configuration, a DB seed of your database and public files.</p>
							</div>
						</div>
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<div class="_pea-row _pea-container-forminput _pea-text-center">
							<input type="submit" name="save_button" style="font-size: 125%;" value="Download Periodic Backup" class="_pea-button _pea-color-success"/>
						</div>
					</form>
				</div>
			</div>
			<div class="_pea-row">
				<div id="exportstatuscontainer" class="_pea-col-span12 " style="display:none;">
					<h3>Export status</h3>
					<textarea id="backupexportstatus" class="textarea-tall noFormSubmit _pea-col-span12">
						Exporting Data
					</textarea>
				</div>
			</div>
		</div>
	</div>
</article>