<div class="_pea-document">
	<div class="_pea-row">
	<h3>About Backing up & Restoring</h3>
		<p>Backing up saves your content directory, public directory, full database seed export into a zip archieve.</p>
		<p>Restoring your applicatoin will restart the application running on PM2.</p>
	</div>
</div>	