
<article class="_pea-form">
	<div class="_pea-document">
		<div class="_pea-row">
			
			<div class="_pea-row" id="importBackupSelection">
				<div>
					<p>First upload or select a previously uploaded backup or database backup.</p>
				</div>
				<div class="_pea-col-span5">
					<h3>Upload a backup file</h3>
					<div class="_pea-row _pea-container-forminput _pea-text-center _pea-form" style="margin-bottom:2em;">
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<input type="file" name="upload-backup_button" id="upload-backup_button" value="Upload" class="_pea-button _pea-col-span12 _pea-color-default"/>
					</div>					
				</div>
				<div class="_pea-col-span1 _pea-text-center">
					<h3 style="margin-top:1.5em">OR</h3>
				</div>
				<div class="_pea-col-span6 _pea-pull-right">
					<h3>Use an existing Backup File</h3>
					<div class="_pea-row _pea-container-forminput _pea-form">
						<select id="existingbackuplist" name="existingbackuplist">
							<% if(existingbackups && existingbackups.length<1){%>
							<option>No backups files</option>
							<%}
							else{%>
								<option>Select an existing backup</option>
							<%
								existingbackups.forEach(function(backupfile){
									%>
									<option value="<%- backupfile%>"><%- backupfile%></option>
									<%
								});
								} %>
						</select>
					</div>
				</div>
			</div>
			<div class="_pea-row" id="importFormContainer" style="display:none;">
				<div class="_pea-col-span12">
					<form class="_pea-form _pea-ajax-form noFormSubmit" method="post" action="/p-admin/backup/restorebackup" data-successfunction="displayImportBackupStatus" data-beforesubmitfunction="showImportStatusResult" data-errorfunction="handleAjaxError">
						<h3>Selected Import Backup</h3>
						<div class="_pea-row _pea-container-forminput">
							<div class="_pea-col-span11">
								<p>This restores your content, themes, extensions, and database from a backup zip archieve.</p>
							</div>
						</div>
						<input type="hidden" name="_csrf" value=<%= locals.token %> >
						<input type="hidden" name="previousbackup" id="previousbackup" >

						<div class="_pea-row _pea-container-forminput">
							<div class="_pea-col-span2">
								<small>Name:</small>
							</div>
							<input type="text" id="backuppathdisplay" class="_pea-col-span10" name="backuppathdisplay" value=""  disabled="disabled"  >
							<input type="hidden" id="backuppath" class="_pea-col-span10" name="backuppath" value=""   >
							<input type="hidden" id="assetid" class="_pea-col-span10" name="assetid" value="" >
						</div>
						<div class="_pea-row _pea-container-forminput">
							<div class="_pea-col-span12">
								<span class="_pea-color-error _pea-text-small">WARNING:</span><span class="_pea-text-small"> This will replace all data in the database, a databse back up backup will be created in content/files/backups</span>
							</div>
						</div>
						<div class="_pea-row _pea-container-forminput _pea-text-center">
							<input type="submit" name="save_button" style="font-size: 125%;" value="Restore Backup" class="_pea-button _pea-color-success"/>
						</div>
					</form>
				</div>
			</div>
			<div class="_pea-row">
				<div id="importstatuscontainer" class="_pea-col-span12 " style="display:none;">
					<h3>Import status</h3>
					<textarea id="backupimportstatus" class="textarea-tall noFormSubmit _pea-col-span12">
						Importing Data
					</textarea>
				</div>
			</div>
		</div>
	</div>
</article>